@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf");
  font-display: swap;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25;
  font-weight: 400;

  /* Variables */
  --color-green: hsl(163 72% 41%);
  --color-red: hsl(356 69% 56%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
