@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf");
  font-display: swap;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25;
  font-weight: 400;

  /* Variables */
  --color-green: hsl(163 72% 41%);
  --color-red: hsl(356 69% 56%);

  --color-toggle: hsl(230 22% 74%);
  --color-bg: hsl(0 0% 100%);
  --color-bg-top-pattern: hsl(225 100% 98%);
  --color-bg-card: hsl(227 47% 96%);
  --color-text-main: hsl(230 17% 14%);
  --color-text-secondary: hsl(228 12% 44%);
}

[data-theme="dark"] {
  --color-toggle: linear-gradient(hsl(210 78% 56%), hsl(146 68% 55%));
  --color-bg: hsl(230 17% 14%);
  --color-bg-top-pattern: hsl(232 19% 15%);
  --color-bg-card: hsl(228 28% 20%);
  --color-text-main: hsl(0 0% 100%);
  --color-text-secondary: hsl(228 34% 66%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#App {
  background: var(--color-bg);
  color: var(--color-text-main);
}

.card {
  position: relative;
  background: var(--color-bg-card);
  border-radius: 0.25rem;
  overflow: hidden;
}
